footer{
    display: flex;
    flex-direction: column;
    height: 170px;
}
.footer1{
    background-color: rgb(18, 180, 104);
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer1 p {
    margin: 3px 0 ;
}
.footer2{
    height: 50px;
    background-color: rgb(80, 104, 104);
    display: flex;
    align-items: center;
    
}
.text{
    margin-left: 50px;
    font-size: 0.8rem;
}
.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}

